.login-section{
display: flex;
justify-content: center;
align-items: center;
    
}

.input-field{
    margin: 7px ;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: rgb(224, 220, 220);
    border: 1px solid gray;

}
.common-toggle{
    color: rgb(247, 150, 40);
    
}
.login-section a{
    text-decoration: none;
}
body {
    background-color: rgb(215, 247, 248)
}