
.service-btn {
  background-color: rgb(91, 116, 23);
  padding: 10px;
  color: cornsilk;
  
}
.service-card {
  height: 650px;
  border-radius: 20px;
  /* border-radius: 30px; */
  /* margin: 20px; */
}
